Create BA demand counts dataframe from Excel Spreadsheets.

In [1]:
import numpy as np
import pandas as pd

from datetime import datetime
from dateutil.parser import parse

In [11]:
#Data dirs
dir1 = 'C:\\Users\\mlamherr\\Data\WECC_demand_2015-2018'
dir2 = 'C:\\Users\\mlamherr\\Data'
savedir = 'C:\\Users\\mlamherr\\Data'

#Dates
start = pd.to_datetime('2016-01-01 00:00:00')
end = pd.to_datetime('2016-12-31 23:00:00')

In [10]:
#Bus areas 1-16 in numerical order as case10K file
WA = ['AVA', 'BPAT','CHPD','DOPD','GCPD','PSEI','SCL','TPWR','AVA', 'BPAT']
OR = ['BPAT','GRID','IPCO','PACW','PGE']
CAnorth = ['BANC','CISO','PACW','BPAT']
CABayArea = ['CISO']
CAcentral = ['CISO', 'TIDC']
CAsw = ['CISO', 'LDWP']
CAse = ['CISO', 'IID']
NV = ['NEVP']
AZ = ['AZPS','DEAA','GRIF','GRMA','HGMA','PNM','SRP','TEPC','WALC']
UT = ['PACE']
NM = ['EPE','PNM']
CO = ['PSCO','WACM']
WY = ['PACE','WACM']
ID = ['AVA','BPAT','IPCO','PACE']
MT = ['BPAT','GWA','NWMT','WAUW','WWA'] 
ElPaso = ['EPE']

BA_all = sorted(list(set().union(WA,OR,CAnorth,CABayArea,CAcentral,CAsw,CAse,NV,AZ,UT,NM,CO,WY,ID,MT,ElPaso)))

In [4]:
print(BA_all)

['AVA', 'AZPS', 'BANC', 'BPAT', 'CHPD', 'CISO', 'DEAA', 'DOPD', 'EPE', 'GCPD', 'GRID', 'GRIF', 'GRMA', 'GWA', 'HGMA', 'IID', 'IPCO', 'LDWP', 'NEVP', 'NWMT', 'PACE', 'PACW', 'PGE', 'PNM', 'PSCO', 'PSEI', 'SCL', 'SRP', 'TEPC', 'TIDC', 'TPWR', 'WACM', 'WALC', 'WAUW', 'WWA']

In [5]:
#Put comments
def collectBAdata(directory, serieslist, startdate, enddate):
    df={}
    
    for x in serieslist:
        print(x)
        filename = x + '.xlsx'
        df[x] = pd.read_excel(io = dir1 + "/" + filename, header = 0, usecols = 'B,U')
        df[x].index = pd.to_datetime(df[x]['UTC Time'])
        df[x] = df[x].resample('H').asfreq()  #To be sure there are no missing times
        df[x].drop(columns =['UTC Time'], inplace=True)
        df[x].rename(columns = {"Published D": x}, inplace = True)

    timespan = pd.date_range(startdate, enddate, freq='H')
    
    df_all = pd.DataFrame(index = timespan)
    for x in serieslist:
        df_all = pd.concat([df_all,df[x]], join='inner', axis=1)

    return df_all

In [6]:
'''
df = {}
for x in BA_all:
    print(x)
    filename = x + '.xlsx'
    df[x] = pd.read_excel(io = dir1 + "/" + filename, header = 0, usecols = 'B,U')
    df[x].index = pd.to_datetime(df[x]['UTC Time'])
    df[x] = df[x].resample('H').asfreq()  #To be sure there are no missing times
    df[x].drop(columns =['UTC Time'], inplace=True)
    df[x].rename(columns = {"Published D": x}, inplace = True)

timespan = pd.date_range(start, end, freq='H')

df_all = pd.DataFrame(index = timespan)
for x in BA_all:
    df_all = pd.concat([df_all,df[x]], join='inner', axis=1)

df_all.to_csv(savedir + "/" + 'BA_2016.csv', index_label = 'UTC Time')
'''

AVA
AZPS
BANC
BPAT
CHPD
CISO
DEAA
DOPD
EPE
GCPD
GRID
GRIF
GRMA
GWA
HGMA
IID
IPCO
LDWP
NEVP
NWMT
PACE
PACW
PGE
PNM
PSCO
PSEI
SCL
SRP
TEPC
TIDC
TPWR
WACM
WALC
WAUW
WWA

In [7]:
df_all.tail()

,AVA,AZPS,BANC,BPAT,CHPD,CISO,DEAA,DOPD,EPE,GCPD,...,PSEI,SCL,SRP,TEPC,TIDC,TPWR,WACM,WALC,WAUW,WWA
2016-12-31 19:00:00,1874.0,2871.0,1975.0,8429.0,369.0,23816.0,NaN,291.0,802.0,623.0,...,4713.0,1452.0,2703.0,1496.0,249.0,799.0,3019.0,817.0,107.0,NaN
2016-12-31 20:00:00,1848.0,2819.0,1977.0,8257.0,355.0,23971.0,NaN,285.0,804.0,613.0,...,4717.0,1463.0,2648.0,1490.0,249.0,800.0,2967.0,807.0,105.0,NaN
2016-12-31 21:00:00,1788.0,2764.0,1913.0,8023.0,346.0,23901.0,NaN,277.0,789.0,595.0,...,4664.0,1452.0,2619.0,1457.0,248.0,785.0,2912.0,800.0,105.0,NaN
2016-12-31 22:00:00,1741.0,2726.0,1876.0,7865.0,335.0,23671.0,NaN,270.0,789.0,589.0,...,4583.0,1409.0,2632.0,1433.0,240.0,767.0,2886.0,792.0,99.0,NaN
2016-12-31 23:00:00,1736.0,2797.0,1847.0,7843.0,335.0,23483.0,NaN,270.0,777.0,586.0,...,4533.0,1404.0,2636.0,1432.0,234.0,754.0,2916.0,791.0,103.0,NaN

In [8]:
df_all.shape

(8784, 35)

In [9]:
df_all.tail()

,AVA,AZPS,BANC,BPAT,CHPD,CISO,DEAA,DOPD,EPE,GCPD,...,PSEI,SCL,SRP,TEPC,TIDC,TPWR,WACM,WALC,WAUW,WWA
2016-12-31 19:00:00,1874.0,2871.0,1975.0,8429.0,369.0,23816.0,NaN,291.0,802.0,623.0,...,4713.0,1452.0,2703.0,1496.0,249.0,799.0,3019.0,817.0,107.0,NaN
2016-12-31 20:00:00,1848.0,2819.0,1977.0,8257.0,355.0,23971.0,NaN,285.0,804.0,613.0,...,4717.0,1463.0,2648.0,1490.0,249.0,800.0,2967.0,807.0,105.0,NaN
2016-12-31 21:00:00,1788.0,2764.0,1913.0,8023.0,346.0,23901.0,NaN,277.0,789.0,595.0,...,4664.0,1452.0,2619.0,1457.0,248.0,785.0,2912.0,800.0,105.0,NaN
2016-12-31 22:00:00,1741.0,2726.0,1876.0,7865.0,335.0,23671.0,NaN,270.0,789.0,589.0,...,4583.0,1409.0,2632.0,1433.0,240.0,767.0,2886.0,792.0,99.0,NaN
2016-12-31 23:00:00,1736.0,2797.0,1847.0,7843.0,335.0,23483.0,NaN,270.0,777.0,586.0,...,4533.0,1404.0,2636.0,1432.0,234.0,754.0,2916.0,791.0,103.0,NaN

In [12]:
df_all.isnull().sum()

AVA        0
AZPS       0
BANC       0
BPAT       0
CHPD       0
CISO       0
DEAA    8784
DOPD      16
EPE        0
GCPD       0
GRID    8784
GRIF    8784
GRMA    8784
GWA     8784
HGMA    8784
IID        0
IPCO       0
LDWP       0
NEVP       0
NWMT       0
PACE       0
PACW       0
PGE        0
PNM        0
PSCO       0
PSEI       0
SCL        0
SRP        0
TEPC       0
TIDC       0
TPWR       0
WACM       0
WALC       0
WAUW      24
WWA     8784
dtype: int64