In [1]:
import numpy as np
import pandas as pd

from datetime import datetime
from dateutil.parser import parse

In [2]:
BAlist = ['AVA']

for x in BAlist:
    filename = x + '.xlsx'
    dirname = 'U:\Data\WECC_demand_2015-2018'
    df = pd.read_excel(io = dirname + "/" + filename, header = 0)

In [3]:
df.head()

,BA,UTC Time,Date,Hour,Local Time,Time Zone,Generation Only,DF,D,NG,...,Balance CHPD,Balance GCPD,Balance IPCO,Balance NWMT,Balance PACW,Pair Mismatch,File 0,File 1,File 2,File D
0,AVA,2015-07-01 08:00:00,2015-07-01,1,2015-07-01 01:00:00,Pacific,N,1413.0,1192.0,371.0,...,0.0,0.0,-31.0,0.0,0.0,1,AVAdaily1822015,AVAdaily1832015,AVAdaily1842015,NaN
1,AVA,2015-07-01 09:00:00,2015-07-01,2,2015-07-01 02:00:00,Pacific,N,1336.0,1108.0,358.0,...,0.0,0.0,-14.0,0.0,0.0,1,AVAdaily1822015,AVAdaily1832015,AVAdaily1842015,NaN
2,AVA,2015-07-01 10:00:00,2015-07-01,3,2015-07-01 03:00:00,Pacific,N,1291.0,1058.0,343.0,...,0.0,0.0,-4.0,0.0,0.0,1,AVAdaily1822015,AVAdaily1832015,AVAdaily1842015,NaN
3,AVA,2015-07-01 11:00:00,2015-07-01,4,2015-07-01 04:00:00,Pacific,N,1265.0,1024.0,338.0,...,0.0,0.0,16.0,0.0,0.0,1,AVAdaily1822015,AVAdaily1832015,AVAdaily1842015,NaN
4,AVA,2015-07-01 12:00:00,2015-07-01,5,2015-07-01 05:00:00,Pacific,N,1277.0,1031.0,330.0,...,0.0,0.0,15.0,0.0,0.0,1,AVAdaily1822015,AVAdaily1832015,AVAdaily1842015,NaN

In [4]:
type(df['UTC Time'][1])

pandas._libs.tslibs.timestamps.Timestamp